.list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0;
}
.contact {
  display: flex;
  width: 31%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
}
